# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Deploy to Cloud Run Staging

on:
  push:
    branches: [ "dev" ]

jobs:
  build:

    runs-on: ubuntu-latest
      
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}

    - name: Authenticate to Google Cloud
      uses: google-github-actions/auth@v2
      with:
        credentials_json: ${{ secrets.GCP_CREDENTIALS }}

    # Set up Google Cloud CLI
    - name: Setup Cloud CLI
      uses: google-github-actions/setup-gcloud@v2

    # Configure Docker for Artifact Registry (not Container Registry)
    - name: Authorize Docker push
      run: gcloud auth configure-docker europe-west1-docker.pkg.dev

    # Build and push to Artifact Registry
    - name: Build and Push Container
      run: |-
        docker build -t europe-west1-docker.pkg.dev/${{ secrets.PROJECT_ID }}/github-images/${{ secrets.SERVICE_NAME }}:${{ github.sha }} .
        docker push europe-west1-docker.pkg.dev/${{ secrets.PROJECT_ID }}/github-images/${{ secrets.SERVICE_NAME }}:${{ github.sha }}
            
    - name: Deploy to Cloud Run
      id: preppee-api
      uses: google-github-actions/deploy-cloudrun@v2
      with:
        service: preppee-api
        image: europe-west1-docker.pkg.dev/${{ secrets.PROJECT_ID }}/github-images/${{ secrets.SERVICE_NAME }}:${{ github.sha }}
        region: ${{ secrets.PROJECT_LOCATION }}
        tag: staging
        no_traffic: true
        labels: |
            service-name=preppee-api
            service-id=preppee-api
        secrets: |
            DATABASE_USER=DATABASE_USER:latest
            DATABASE_HOST=DATABASE_HOST:latest
            DATABASE_NAME=DATABASE_NAME_STAGING:latest
            DATABASE_PASSWORD=DATABASE_PASSWORD:latest
            AUTH_JWT_KEY=AUTH_JWT_KEY:latest
            BUCKET_NAME=BUCKET_NAME:latest
            ADMIN_EMAIL=ADMIN_EMAIL:latest
            ADMIN_PASSWORD=ADMIN_PASSWORD:latest
            ADMIN_USERNAME=ADMIN_USERNAME:latest
            POSTGRES_URI=DATABASE_URI_STAGING:latest
            SMTP2GO_API_KEY=SMTP2GO_API_KEY:latest
            ONE_SIGNAL_APP_ID=ONE_SIGNAL_APP_ID:latest
            ONE_SIGNAL_REST_API_KEY=ONE_SIGNAL_REST_API_KEY:latest
            PAYSTACK_API_KEY=PAYSTACK_API_KEY_STAGING:latest
            PAYSTACK_CALLBACK_URL=PAYSTACK_CALLBACK_URL_STAGING:latest
            APP_SECRET_KEY=APP_SECRET_KEY:latest
            SECRET_KEY=SECRET_KEY:latest
            APP_ACCESS_TOKEN=APP_ACCESS_TOKEN:latest
        env_vars: |
            ENVIRONMENT=staging
            FRONTEND_BASE_URL=https://staging.preppee.online

